
.container{
    width: 90vw;
    margin: auto;
}
img{
    width: 40px;
    height: 40px;
}

.positiveValues{
    color: greenyellow;
}

.negativeValues{
    color: rgb(255, 47, 78);
}

table{
    width: 100%;
    background-color: black;
    color: white;
    height: 600px;
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid white;
    text-align: center;
}
#top{
    height: 40px;
    text-align: center;
    background-color: burlywood;
}
#i{
  color: aquamarine;
}
#n{
    color: bisque;
}
#s{
 color: lemonchiffon;
}
#cp{
    color:rgb(42, 165, 165) ;
}
#tv{
    color: chartreuse;
}
#pc{
    color: cyan;
}
#mc{
    color: coral;
}